.footer {
  background: #0b0f14;
  padding: 70px 0;
}

/* Headings */
.heading {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* List */
.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.list a {
  color: #aaa;
  text-decoration: none;
  transition: 0.3s;
}

.list a:hover {
  color: #ffc107;
}

/* Dropdown */
.dropdownToggle {
  cursor: pointer;
  color: #aaa;
}
.dropdownToggle1 {
  cursor: pointer;
  color: #cecaca;
}

.dropdown {
  margin-top: 8px;
  padding-left: 15px;
  top: 100%;      /* directly below Coins */
  left: 0; 
}
.list li {
  position: relative;  /* IMPORTANT */
}
.dropdown li {
  margin-bottom: 6px;
}

/* Logo */
.logo {
  width: 320px;
  height: auto;
  mix-blend-mode: lighten;
}
/* Social Media Grid */
.socialGrid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 12px 40px; /* row gap / column gap */
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Each item */
.socialItem {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  color: #aaa;
  text-decoration: none;

  transition: 0.3s;
}



.socialItem:hover {
  color: #ffc107;
}
.footerCopyright{
  text-align: end;
  margin-top: 3%;
}